{% extends "base.html" %}


{% load i18n staticfiles %}


{% block container %}
<div class="container">
    <br/>
    <div class="row">
        <a class="btn btn-success" href="{% url 'app:load_sample_data_view' %}">Load Data</a>
        <a class="btn btn-success" href="{% url 'admin:index' %}">Admin</a>

    </div>
    <div class="row">
        <div class='col-sm-3'>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <div class='input-group date'>
                        <input type='text' name='start' class="form-control" placeholder="Start Date e.g: 2017-07-12">
                        <input type="text" name='end' class="form-control" placeholder="End Date e.g: 2017-08-12">
                        <hr>
                        <button class="btn btn-success" id='submit'>Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            {{month1}}
        </div>
        <div class="col-sm-6">
            {{month1}}
        </div>
    </div>
</div>

{% endblock %}
