{% extends "base.html" %}


{% load i18n staticfiles %}

{% block container %}

<div class="container">
    <div class="col-sm-12">
        <ul>
            {% for visit in visits %}
            <div class="row">
                <li>
                    <span style="padding-right:5em">Dog</span>{{forloop.counter}}<span style="padding-left:5em">{{visit.dog.get_full_name}}</span><span style="padding-left:5em">{{visit.start_date}}<span><span style="padding-left:5em">{{visit.end_date}}</span>
                </li>
            </div>
            {% empty %}
            <p>No Dogs</p>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
